h1 {
	text-align: center;
	color: #363636;
	font-family: cursive;
}

#button {
margin: auto;
margin-top: 0%;
margin-left: 48%;
margin-bottom: 1%;
border: 1px solid black;
border-radius: 8em;
}


.container {
	max-width: 60%;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	
	
}

.square {
	display: table-cell;
    width:100vw;
    height:5.5vh;
    margin: 0 auto;
	border: 1px solid black;
	color: transparent;
}